@use "../../style/" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3.5rem 2rem;
  @include mobile() {
    padding: 2rem;
  }
}

.div {
  @extend .light_shadow, .rounded;
  background: #fff;
  width: clamp(200px, 90%, 1200px);
  height: 200px;
  padding: 2rem;
}
