@use "../../style/" as *;

.container {
}
.flex {
  flex-direction: column;
  gap: 1rem;
}

.center {
  text-align: center;
}

.message_box {
  background-color: rgba($color: rgb(0, 187, 0), $alpha: 0.15);
  padding: 1rem;
  color: rgb(0, 166, 0);
  border-radius: 5px;
}

.grey {
  background-color: gray;
  cursor: initial;
  &:hover {
    background-color: gray;
  }
}
