@use "../../style/" as *;

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.btn {
  margin-top: auto;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: auto;
  font-size: 1rem;
  border-radius: 5px;
  padding: 1rem 2rem;
}

.btn_outline {
  color: $red-color;
  background: none;
  font-size: 1rem;
  padding: 0.6rem;
  border: 1px solid $red-color;
  border-radius: 0.3rem;

  &:hover {
    background: rgba($color: $red-color, $alpha: 0.1);
  }
}

.table {
  display: flex;
  flex-direction: column;

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    padding: 1.5rem 0.5rem;
    gap: 1rem;
  }

  .header {
    font-size: 1.1rem;
    font-weight: 500;
    border-bottom: 2px solid black;
  }

  .row {
    border-bottom: 1px solid rgb(213, 213, 213);

    &:hover {
      background: rgb(244, 244, 244);
    }
  }

  .delete {
    max-width: 50px;
    &:hover {
      border: 1px solid rgba($color: $red-color, $alpha: 0.15);
      background: rgba($color: $red-color, $alpha: 0.3);
      color: $red-color;
    }
  }
}
