@use "../../style/" as *;

.container {
  max-width: 800px;
  margin: auto;
  margin-top: 2rem;
}

.flex {
  flex-direction: column;
  gap: 1rem;
}

.center {
  text-align: center;
}

.warning_box {
  background-color: rgba($color: $red-color, $alpha: 0.15);
  padding: 1rem;
  color: $red-color;
  border-radius: 5px;
}
